.container {
    height: 40px;
    padding-top: 9px;
    box-sizing: border-box;
}
.item {
    display: inline-block;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        color: #999;
    }
}
